:root{
    --main-peach: #EEA47F; 
    --main-blue: #00539C;
    --main-white: #fff;
    --main-black: #000;
    --main-lightblue:#BDE9FB;
    --main-lightgreen: #D0E0CD;
    --main-lightbrown: #EAE0DA;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    height: 100vh;
    line-height: 1.4;
    overflow: hidden;
    overflow-y: scroll;
}
.container {
    background-color: #EEA47F;
    color: #00539C;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00539C;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin: 0 auto;
    max-width: 100rem;
    height:5rem;
    padding: 0.5rem 1rem;
    top: 0;
    position: sticky;
    z-index: 3;
}


nav a{
    color:#fff;
    text-decoration: none;
    padding: 1rem;
}

a:hover{
color: var(--main-lightblue);
border-bottom: solid 3px var(--main-lightgreen);
}

:active{
    border-bottom: solid 3px var(--main-lightgreen);
}

#navMenu{
    display: flex;
    padding: 1em;
}
/* span #initials{
    display: flex;
    justify-self: flex-start;
} */


#welcome-section{
    justify-content: center;
    display: flex;
}

#welcome-section h1{
    text-align: center;
    justify-content: center;
    /* padding-top: 2rem; */
}

#welcome-section p { 
    justify-content: center;
    line-height: 2rem;
}


h2{
    text-align: center;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 20px;
}

button{
    border: 3px solid #00539C;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
    background-color: #EEA47F;
    color: #00539C;
    font-weight: 500;
    font-size: large;

}

button:hover{
    color: var(--main-blue);
    transition: 1s;
    background-color: var(--main-lightgreen);
}

#skills-section, 
#description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* HAMBURGER MENU ICON */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: flex-end;
    font-size: medium;
}

/* MEDIA QUERY FOR SMALLER SCREEN */
@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust according to your navbar height */
    left: 0;
    width: 100%;
    background-color: #00539c;
    z-index: 1000;
  }

  nav ul.active {
    display: flex;
  }

  nav ul li {
    padding: 1em;
    text-align: center;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px; 
    right: 20px; 
  }
}